*{
    padding: 0;
    margin: 0;
}

#contenedor{
    width: 900px;
    height: 1000px;
    background-color: #f1ecea;
    border-radius: 5px;
}

#cabecera{
    
    background-color: #3a251c;
    border-radius: 5px;
    padding: 0 50px;
}

#menu{
    margin: 0.15em;
    background-color: #b46424;
    border-radius: 5px;

}

#seccion{

    margin-bottom: 0.25em;
    height: 75%;
    width: 64%;
    
    background-color: #362f2f;

    display: inline-block;
    border-radius: 5px;
    text-align: justify;
}

#aside{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 75%;
    width: 35%;
    display: inline-block;
    background-color: #b58c7c;
    vertical-align: top;
    text-align: center;
    border-radius: 5px;
    color: black;

}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    text-align: center;
    background-color: #3a251c;
    border-radius: 5px;
}

#cuerpo{
    background-color: #f1ecea ;
    color: white;
}

li a:hover{
    color: crimson;
    text-decoration: none;
    list-style-type: none;
    
}

ul{
    list-style-type: disc;
    text-align: center;
    padding: 10px;

}

li{
    display: inline;
    /*padding: 10px 30px;
    margin: 3em;*/
    list-style-type: disc;
}


img{
    height: 100px;
    width: 100px;
    border: 1px solid;
    margin: 0 5px;
   
}

picture{
    display: inline;
    padding: 0 35px;
   
}

aside ul{
    list-style-type: disc;
    text-align: center;
    padding: 5px;
}

#aside li{
    list-style-type: disc;
    display: block;
    padding: 0%;
    margin: 0.5em;
}

.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: white;


}

section h1{
    padding: 10px 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
section h4{
    text-align: center;
}

small{
    padding-left: 15px;
    padding-bottom: 20px ;
}

.aside__header{
    margin-top: 15px;
}

@media screen and (max-width: 700px) {

    #contenedor{
        width: 90%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #cabecera,
    #menu,
    #seccion,
    #aside,
    #footer
    {
        width: 90%;
        height: fit-content;
        padding: 0;
        margin-left: 5%;

    }
    
    #medio{
        flex-direction: column;

    }

    #encabezado{
        display: flex;
        margin-left: 1%;
        justify-content: center;
        align-items: center ;
    }

    ul{
        display: flex;
        flex-direction: column;
    }

    li{
        margin: 0.5em;
        padding: 0;
    }
}