/* Selector Universal*/

*{
    padding: 0;
    margin: 0;
    
}

/* Selector de Etiqueta*/

body{
    background-color: #6c844e;
    color: white;
}

/* Selector de clase*/ 

.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
 
    color: black;


}

.img{
    width: 100px;
    border-radius: 5px;
    justify-items: center;

}

.encabezado-articulo{
    text-align: center;
    background-color: rgb(83, 152, 87);
    color: rgb(255, 255, 255);
    border-radius: 5px;

}

.encabezado-aside{

    text-align: center;
    background-color: rgb(89, 161, 81);
    color: white;

}

.menu-aside{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20;


}

.lista-aside{


}



.lista-aside li {
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

    list-style-type: square;
    color: #000;

}

/* Selector de ID */ 

#contenedor {
    width: 900px;
    height: 735px;
    background-color: #dee0b7;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    

}

#encabezado{
    display: flex;
    width: 90%;
    height: 56%;
    background-color: #6c844e;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

#menu{
    height: 5%;
    background-color: #7e815b;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#medio {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

#contenido{
    width: 58%;
    background-color: #b5bf9a;
    flex: 2;
    margin: 0.5em;
    border-radius: 5px;
    text-align: center;
    border: 1px solid black;

}

#fueraSeccion{
    margin: 0.5em;
    width: 35%;
    border: 1px solid black;
    flex: 1;
    background-color: #b5bf9a;
    border-radius: 5px;
    
}

#pie{
    height: 10%;
    background-color: #b5bf9a;

    text-align: center;

    
}

#pie h4{

    font-size: 30px;
}

/* Selector de Etiqueta */

ul{
    text-align: center;

}

li{

    display: inline;
    margin: 3em;

}
/*el mouse pasa por encima*/
li a:hover{
    color: crimson;
    text-decoration: none;
    list-style-type: none;
    
}

@media screen and (max-width: 700px) {

    #contenedor{
        width: 90%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #encabezado,
    #menu,
    #contenido,
    #fueraSeccion,
    #pie
    {
        width: 90%;
        height: fit-content;
        padding: 0;
        margin-left: 5%;

    }
    
    #medio{
        flex-direction: column;

    }

    #encabezado{
        display: flex;
        margin-left: 1%;
        justify-content: center;
        align-items: center ;
    }

}



