*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
}

.contenedor{
    height: 600px;
    width: 900px;
    border: 5px solid black;

    margin: auto;
    background-color: lemonchiffon;
}

h1{
    padding-top: 20px;
}

.nombre{
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;

}

.nombre input{

    width: 420px;
    height: 25px;
    margin-left: 20px;
}

.fechaNacimiento{

    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    font-weight: bold;


}

.fechaNacimiento input{

    width: 150px;
    height: 25px;
    margin-left:20px;

}

.LugarNacimiento{
    width: 180px;
    height: 44px;
    font-weight: bold;
    text-align: right;
    margin-left: 550px;
    margin-top: -194px;

}

.LugarNacimiento select{
    width: 155px;
    margin-left: 0;
    height: 25px;
}

.poblacion{

    font-weight: bold;
    text-align: left;
    float: right;
    margin-top: -43px;
    margin-right: 10px;
    height: 50px;
    display: flex;
    flex-direction: column;

}

.poblacion input{
    height: 20px;
}

.idiomas{
    text-align: left;
    float: right;
    margin-right: -138px;
}

.idiomas li{
    width: 300px;
    height: 154px;
    background-color: rgba(219, 191, 49, 0.504);
    list-style: none;
    margin-bottom: 83px;
    margin-top: 30px;
    padding-left: 24px;
    padding-top: 12px;
}

.idiomas input{
    margin-top: 10px;
    margin-left: 4px;

}

.sexo{
    margin-top: -40px;
    text-align: left;
    padding-left: 20px;
    padding-top: 30px;
    width: 240px;

}

.sexo li{
    width: 265px;
    height: 60px;
    background-color: rgba(87, 149, 58, 0.626);
    list-style: none;

}

.sexo input{
    margin-top: 20px;
    margin-left: 20px;
}

.correo{
    margin-top: 166px;
    width: 210px;
    float: left;
    margin-left: 20px;
    height: 25px;
    color: black;
}

.correo input{
    margin-top: -5px;
}

.egresoPrimaria{
    float: left;
    text-align: left;
    margin-top: -96px;
    padding-top: 21px;
    padding-right: 379px;
    padding-left: 23px;
    font-weight: bold;
}

.egresoPrimaria input{
    margin-left: 40px;
}

.habitos{
    margin-right: 12px;
    text-align: left;
    float: right;
    margin-top: -88px;
    font-weight: bold;
}

.habitos textarea{

        width: 450px;
        height: 150px;
}

.ingresos{
    text-align: center;
    float: left;
    margin-top: 29px;
    font-weight: bold;

}

.ingresos input{
    margin-top: 20px;
    width: 400px;

}

.horario{
    font-weight: bold;
    margin-right: 100px;
    float: right;
    margin-top: 5px;

}

.horario input{
    margin-top: 33px;
    max-width: 20px;

}

#botones{

    margin-top: 522px;
    margin-right: 2px;
    width: 238px;
    height: 50px;

}

#botones input{
    height: 25px;
    width: 150px;
    margin-top: 12px;
    margin-right: -310px;  ;
}

#datosList {
    font-size: 8px;
    word-spacing: 2.2em;
    
}










