*{
    padding: 0;
    margin: 0;
}

.contenedor{
    height: 900px;
    width: 800px;


}

body{

}

.cabecera{
    border: solid 1px;
    color: white ;
    background-color: darkslategray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#presentacion {
    border: solid 1px;
}

#presentacion h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}



.seccion{
    background-color: beige;
    height: 585px;
    border: solid 1px;

}

.seccion article{

    height: 130px;
    width: 314px;
    display: inline-block;
    margin: 15px 20px;
    
}

article a{
    margin: 15px;

}

article p{
    text-align: justify;
}

article p{
    padding: 0.5em;
    color: white;
    border-radius: 15px;
    background-color: darkslategray;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    font-family: 'Courier New', Courier, monospace;
}

footer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid 1px;
    padding: 5px;
    height: 25px;

    
}