*{
    padding: 0%;
    margin: 0%;
}



body{
    color: white;
    background-color: #000d39;

}
#contenedor{
    width: 900px;
    height: 1700px;
    background-color: #242424;

}

#cabecera{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;

}

#ConMain{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.seccion{
   width: 75%;
   float: left;
   background-color: orange;
   display: flex;
   justify-content: flex-end;
   align-content: center;
   flex-direction: column;
}

article{
    height: 25%;
    padding: 20px;
    background-color: gray;
    border-radius: 5px;
    margin: 50px;
 
}

#logo{
    height: 75px;
    width: 75px;
    border: 1px solid;
    margin: 0.5em;
    
    float: left;
    
}

img{
    margin-top: 20px;
    height: 200px;
    width: 200px;
    border: 1px solid;
    margin: 0 5px;
}

#menu{
    width: 100%;
    height: 30px;
    background-color: white;

}

ul{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

li{
    display: inline;
    list-style-type: disc;

}

aside{
    width: 25%;
    background-color: wheat;
}

aside li{
    text-align: left;
    display: block;
    margin: 1em;
    list-style: disc;

}

aside ul{
    display: block;
    padding: 5px;
    list-style-type: disc;
    text-align: left;
}

#asideTitulo{
    color: white;
    background-color: black;
    height: 5%;
    margin: 1em;
    display: flex;
    align-content: center;
    justify-content: center;    
    border-radius: 5px;

}

#asideTitulo h2{
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;
}

footer{
    justify-content: flex-end;
    height: 4%;
    margin-bottom: 0;
    background-color: white;
}

footer h2{
    color: black;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

@media screen and (max-width: 700px) {

    #contenedor{
        width: 90%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #cabecera,
    #menu,
    .seccion,
    
    
    .fueraseccion,
    #pie
    {
        width: 90%;
        height: fit-content;
        padding: 0;
        margin-left: 5%;

    }
    
    #fueraseccion{
        
    }
    
    #ConMain{
        flex-direction: column;

    }

    #encabezado{
        display: flex;
        margin-left: 1%;
        justify-content: center;
        align-items: center ;
    }

}